* {
    border: 1px red solid;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding-left: 0;
    display: flex;
}

li {
    list-style-type: none;
}

.header {
    display: flex;
    height: 75px;
    background-color: #1F2937;
    color: #f9faf8;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    flex: 0 0;

}

.header-logo {
    font-size: 24px;
    font-weight: 700;

}

.header-links {
    gap: 24px;
    font-size: 18px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    height: 400px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    gap: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    height: 200px;
    flex: 1 1 0px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    background-color: #3882f6;
    border-radius: 6px;
    width: 100px;
    padding: 6px 10px;
    color: #f9faf8;
    font-weight: 700;
    font-size: 14px;
}

.hero-image {
    display: flex;
    background-color: gray;
    height: 200px;
    flex: 1 0 0px;
    align-items: center;
    justify-content: center;
}